# Build directories
build/
dist/
*.egg-info/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile